@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
    background-color: antiquewhite;
    font-family: Inter, sans-serif;
    justify-content: center;
    align-items: center;
    width: 1000px;
}

html {
    justify-content: center;
    align-items: center;
    display: flex;
}


h1 {
    text-align: center;
    color: #a0004d;
    font-size: 3rem;
}

.card {
    background-color: bisque;
    border-radius: 30px;
    box-sizing: border-box;
    margin: 1rem;
    padding: 1rem;
    display: flex;
}

.card img {
    display: block;
    width: 250px;
    height: auto;
    margin: 0 0 12px;
    float: none;
}

.card h2, .card p {
    margin: 0 0 8px;
}

img {
    border-radius: 15px;
}

h2, p {
    color: #05001b;
    padding-left: 2rem;
}


.break {
    width: 100%;
    height: 0;
}

.stack {
    padding: 1rem;
}

.stack a {
    margin-left: 2rem;

}

a:link, a:visited {
    background-color: #a0004d;
    color: white;
    padding: 0.75rem 1rem;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
}

a:hover, a:active {
    background-color: #c21062;
}